.home__content {
  /* background-color: #fff; */
  width: 80%;
  margin: 5px auto;
}

@media screen and (max-width: 425px) {
  .home__content {
    /* background-color: #fff; */
    width: 100%;
  }
}
