.navbar {
  margin-bottom: 20px;
}
nav {
  display: flex;
  justify-content: space-around;
  width: 80%;
  height: 60px;
  align-items: center;
  margin: 5px auto;
  border-radius: 10px;
}

.content > div {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.nav__social {
  display: flex;
}
a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav__buttons > a {
  padding: 8px 15px;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

.nav__social > a > img {
  width: 23px;
  object-fit: contain;
}

button {
  border: none;
  background: transparent;
}
.content .phone__nav {
  display: none;
}
@media screen and (max-width: 768px) {
  .content {
    width: 100%;
  }
  .content .desk__nav {
    display: none;
  }
  .content .name {
    display: none;
  }
  .content .phone__nav {
    display: flex;
  }
  .content .phone__nav .nav__social {
    display: flex;
    justify-content: space-between;
    flex: 0.4;
  }
  .content .phone__nav .nav__social img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .right__side p {
    font-size: 16px;
    line-height: 1.7;
    max-width: 100%;
  }
}
@media screen and (max-width: 430px) {
  .content .nav__social {
    display: none;
  }
}
